{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <title>Login</title>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      <div>
        <label for="">Username</label>
        <input type="text" name="username" />
      </div>
      <div>
        <label for="">Password</label>
        <input type="password" name="password" />
      </div>
      <button type="submit">Login</button>
      {% if error %}
      <p>Invalid username and password</p>
      {% endif %}
    </form>
  </body>
</html>
